<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check</title>
</head>
<body>
<h2>Dear <tr th:text="${session.customerName}"></tr>, your order:</h2>
<h4>Make you customer Order:</h4>
<tr th:utext="${session.goodsCustomerAlready}"></tr>
<a href="#" th:href="@{/logout}">Log Out</a>
</body>
</html>
