<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h2>Hello, <tr th:text="${session.customerName}"></tr>!</h2>
<h4>You have already chosen:</h4>
<tr th:utext="${session.goodsCustomerAlready}"></tr>
<h4>Make you order:</h4>
<form th:action="@{orderPage}" method="post">
    <tr>
        <label for="goods"></label><select class="form-control" id="goods" name="goods">
        <option th:each="good : ${session.listGoods}" th:value="${good}" th:text="${good}"></option>
    </select>
    </tr>
    <p><input type="submit" name="addItem" value="Add item">
        <input type="submit" name="submit" value="Submit"></p>
</form>
</body>
</html>
